.TopLogo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .inner {
    padding: 20px;
    box-sizing: border-box;

    img{
      width: 100%;
    }
  }

  h1 {
    margin-bottom: 100px;
    white-space: nowrap;
  }
}