@import "../../utils/vars.scss";

.OurInvention {
  .our-invention-title-area {
    background-color: $colorGray
  }

  .arow {
    background-color: $colorBlack;
    color: $colorWhite;
  }

  .pillars {
    background-image: url("../../img/6-pillars_background.png");
    background-size: cover;
  }

  .loveChain {
    background-color: #e18c84;
    color: $colorWhite;
    a {
      color: $colorWhite;
    }
  }

  p {
    font-size: 16px;
  }

  @media (max-width: $deviceWidth) {
    a {
      text-align: center;
    }
  }
}