@import "../../utils/vars.scss";
.Invention {
  display: grid;
  grid-template-areas:
  "bigLogo content-area";
  .mobile-show-logo {
    display: none;
  }
  .bigLogo {
    grid-area: bigLogo;
    width: 30vw;
    position: relative;
    margin: auto;
  }
  .content-area {
    grid-area: content-area;
    display: flex;
    flex-direction: column;
    width: 50vw;
    font-size: 20px;
    margin-left: 20px;

    .smallLogo {
      grid-area: content-area;
      display: block;
      margin-right: auto;
      height: 5vw;
    }
  }

  @media (max-width: $deviceWidth) {
    grid-template-areas:
      "smallLogo"
      "bigLogo"
      "content-area";

    .mobile-show-logo {
      grid-area: smallLogo;
      display: block;
      position: relative;
      margin: auto;
      width: 30vw;
    }

    .bigLogo {
      width: 75vw;
    }

    .smallLogo {
      display: none;
    }

    .content-area {
      width: auto;
    }
  }

}