@import "../../utils/vars.scss";
.Mission {
  padding: 50px;
  background-color: $colorGray;
  .content {
    margin-top: 50px;
    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}




