@import "./utils/vars.scss";
.App {
  *:focus {
    outline: none;
  }
  h1 {
    font-weight: bold;
    font-size: 32px;
    margin: 1em 0;
  }
  h2 {
    text-align: center;
    font-size: 28px;
    margin: 1em 0;
  }
  p {
    font-size: 20px;
  }
  @media (max-width: $deviceWidth) {
    h1 {
      font-size: 8vw;
    }
    h2{
      font-size: 7vw;
    }
    p{
      font-size: 16px;
    }
  }
}
